<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>déplacer un élément avec les flèches du clavier</title>

    <style rel="stylesheet" type="text/css" href="style.js"></style>
  
    <script type="text/javascript" src="script.js"></script>
    
  </head>
  <body>
    <canvas width="500" height="500" id="map"></canvas>
    <script type="text/javascript" src="map.js"></script>
    
    <!-- <input type="button" onclick="draw()" value="Display" /> -->

    <p><b>Cliquez ici pour déplacer l'objet.</b></p>
        
  </body>
</html>