<!DOCTYPE html>
<html lang="fr">
	<head>
		<link rel="shortcut icon" href="#" />
		<meta charset="UTF-8" />
		<title>BomberMan</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<br />
		<p></p>
		
		<div id="videoDiv">
			<video autoplay loop id="myVideo" controls muted>
				<source 
				src="https://cdn.glitch.com/78539be0-7261-4593-9d5a-b8d0ccd26f37%2FINTRO.mp4?v=1621417636457" 
				type="video/mp4"/>
			</video>
			
			<div id="videoForm" class="styling">
				<div id="carre">
				<b>HOME</b>
				<br />
				<b>Bomber'S</b>
				<br/>
				<br/>
				
				<script>
					var registerName = function() {
						localStorage.setItem("Pseudo",document.getElementById("pseudo").value);
					}
					
					var go = function() {
						if (document.getElementById("pseudo").value != "") {
							registerName();
							let val = document.getElementById("link").value;
							if (document.getElementById("link").value != "") {
								document.location.href = document.location.href + "room/" + val;
							}
						}
					}
					
					var generateRoom = function() {
						if (document.getElementById("pseudo").value != "") {
							registerName();
							let val = Math.random().toString().substr(2, 8);
							document.location.href = document.location.href + "room/" + val;
						}
					}
				</script>
				
				<label for="pseudo">Pseudo:</label><br />
				<input type="text" id="pseudo" name="pseudo"/><br />
				<br/>
				<label for="link">Link:</label><br />
				<input type="text" id="link" name="link" /><br />
				<br />
				
				<input
				class="button"
				  onclick="generateRoom()"
				  type="submit"
				  value="Créer une salle"/>
				<input
				class="button"
				  onclick="go()"
				  type="submit"
				  value="Rejoindre une salle"/>
				
			</div>
		</div>
	</body>
</html>
		
