<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="shortcut icon" href="#" />
    <meta charset="UTF-8" />
    <title>BomberMan</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    
    <br />
    <p>
      
      <div id="videoDiv">
        <video autoplay loop id="myVideo">
          <source src="https://cdn.glitch.com/78539be0-7261-4593-9d5a-b8d0ccd26f37%2FINTRO.mp4?v=1621417636457" type="video/mp4">
        </video>
      
        
        
        
        
        <!--id="videoForm"-->
        <div id="form" class="styling">
          
          <b>HOME</b> <br />
          <b> Bomber'S</b>
          
          <ul class="tab-group">
            <li class="tab active"><a href="#CreateaGame">Create a Game</a> </li>
            <li class="tab"><a href="#JoinaGame">Joint a Game</a> </li>
          </ul>
          
          <div class="tab-content">
            <!--id=login -->
            <div id="CreateaGame">
              <h2>Welcome Back!</h2>
              <!-- action="/login"-->
              <form action="CreateaGame" method="post">
                <div class="field-wrap">
                  <label> Pseudo<span class="req">*</span></label>
                  <input type="text" name="nom_joueur" required autocomplete="off" />
                </div>
                <div class="field-wrap">
                  <label>Créer un Room<span class="req">*</span></label>
                  <input type="text" name="RoomLink" required autocomplete="off" /><button>Generate Link</button>
                </div>
                <button class="submitClick" type="submit">Let's Start</button>
              </form>  
            </div> 
            <!--id="signup" -->
            <div id="JoinaGame" >
              <h2>Join a Game</h2>
              
              
            </div>
            
            
            
            
            
            
            
          </div>
      
          <br>
          <br>
          <form action="/page.html">
            <label for="pseudo">Pseudo:</label><br>
            <input type="text" id="pseudo" name="pseudo"><br>
            <br>
            <input class="button" type="submit" value="Submit">
          </form> 
          <!--<a href="page.html" class="button">Visit our game here !</a>-->
          <!--https://developer.mozilla.org/fr/docs/Learn/JavaScript/Client-side_web_APIs/Fetching_data -->
          </div>
        
        
        
        
        
        
        
      </div>
    
    
    
    </p>
  </body>
</html>

