/* this file is loaded by index.html and styles the page  */
/*  

* {
  box-sizing: border-box;
} */

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  color: 	#6495ED;
  text-align: center;
  font-size :28px;
}



/* Permet d'afficher une grille */
/*canvas {
  margin: auto;
  display: block;
  height: 100%;
}*/

/*
h1 {
  font-style: italic;
  color: #373fff;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}*/

/* permet d'afficher un objet*/
/*.myDiv {
  width: 150px;
  height: 53px;
  position: relative;
  margin: 100px auto 0;
  background: url("https://1.bp.blogspot.com/-I-a7SivlqkY/XR1iGIJh0FI/AAAAAAAAFEk/ynto7iWeqxkjhxH5UDMywUYHad3fFMHTACLcBGAs/s1600/carr2.png");
  background-repeat: no-repeat;
}*/

